#search {
    background: #1e2931;
    border-color: #1e2931;
    border-radius: 2px;
    position: sticky;
    top:0;
    justify-content: center;
    height: 300px;
    width: 100%;
    margin:30px;
    padding: 30px;
    float:left;
    color:white;
    
}
#searchDrop{
    margin: 10px;
}

#searchInput{
    font-size: 20px;
    margin: 10px;
    height: 50px;
}

#searchButton{
    margin:10px;
};
